@model shopqa.Controllers.tbl_album_product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tbl_album_product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.fk_product_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fk_product_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.c_img)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.c_img)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.pk_album_product_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
